.container {
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 1.875rem;
}

.section {
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 8px;
  background-color: #f1f4ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 0.625rem 1.25rem;
  margin: 0.3125rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3643b8;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2c368f;
}

input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
}

.color-box {
  width: 200px;
  height: 100px;
  margin: 20px auto;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.teams-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.teams-gallery img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.teams-gallery img:hover {
  transform: scale(1.1);
}
